<h1>About Mixifi.it</h1>

<p>Mixifi.it was built after a suggestion made after single tweet...</p>

<blockquote class="twitter-tweet" lang="en"><p>Idea for an app. Choose a <a href="https://twitter.com/Spotify">@Spotify</a> playlist from your account and it tells you how much the playlist would cost to buy on iTunes.</p>&mdash; Joe Gardiner (@Joe_Gardiner) <a href="https://twitter.com/Joe_Gardiner/statuses/336464240355463168">May 20, 2013</a></blockquote>

<p>Which sparked the follow explosion</p>

<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/Joe_Gardiner">@Joe_Gardiner</a> Hmm, can&#39;t be that hard? Just need an API for iTunes and BOOM.</p>&mdash; Neil Sweeney (@WolfieZero) <a href="https://twitter.com/WolfieZero/statuses/336466328091242497">May 20, 2013</a></blockquote>